<li class="todo todo--editing" id="todo-{{id}}" hx-target="this" hx-swap="outerHTML">
  <form class="todo-edit" hx-patch="/todos/{{id}}">
    <input class="input" type="text" name="title" value="{{title}}" required placeholder="Task title" />
    <input class="input" type="text" name="description" value="{{description}}" placeholder="Description" />
    <input class="input input--pill" type="text" name="dueAt" data-date placeholder="Set due date"
      data-default="{{inputDate dueAt}}" aria-label="Due date" />
    {{> priority-select id=id selected=priority}}
    <div class="todo-edit__actions">
      <button type="submit" class="btn btn--primary btn--sm"><i class="fa-solid fa-check"></i> Save</button>
      <button type="button" class="btn btn--ghost btn--sm" hx-get="/todos/{{id}}">Cancel</button>
    </div>
  </form>
</li>
